# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs #
########
*.log

# Databases #
#############
*.sql
*.sqlite

# OS Files #
############
.DS_Store
.Trashes
ehthumbs.db
Icon?
Thumbs.db

# Vagrant #
###########
.vagrant

# Ruby Files #
##############
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/examples.txt
/tmp/
/vendor/bundle/
*.gem
